@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-primary-50: var(--color-rose-50);
  --color-primary-100: var(--color-rose-100);
  --color-primary-200: var(--color-rose-200);
  --color-primary-300: var(--color-rose-300);
  --color-primary-400: var(--color-rose-400);
  --color-primary-500: var(--color-rose-500);
  --color-primary-600: var(--color-rose-600);
  --color-primary-700: var(--color-rose-700);
  --color-primary-800: var(--color-rose-800);
  --color-primary-900: var(--color-rose-900);
  --color-primary-950: var(--color-rose-950);

  --color-primary: light-dark(var(--color-primary-600), var(--color-primary-400));

  --color-background: light-dark(var(--color-neutral-50), var(--color-neutral-950));
  --color-surface: light-dark(var(--color-neutral-100), var(--color-neutral-900));
  --color-foreground: light-dark(var(--color-neutral-950), var(--color-neutral-50));
  --color-line: light-dark(var(--color-neutral-200), var(--color-neutral-800));

  --max-width: 1856px;

  --tw-position-area-top: top;
  --tw-position-area-bottom: bottom;
  --tw-position-area-left: left;
  --tw-position-area-right: right;
}

@theme inline {
  --font-sans: var(--font-host-grotesk), system-ui, sans-serif;
  --font-mono: var(--font-inter), Montserrat, sans-serif;
}

@utility layout-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, auto) 1fr;
  grid-template-areas:
    'sidebar'
    'toc'
    'main';

  @variant lg {
    grid-template-columns: 300px 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas:
      'sidebar toc'
      'sidebar main';
  }

  @variant xl {
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 'sidebar main toc';
    gap: 16px;
  }
}

@utility area-sidebar {
  grid-area: sidebar;
}

@utility area-main {
  grid-area: main;
}

@utility area-toc {
  grid-area: toc;
}

@utility position-area-* {
  position-area: --value(--tw-position-area-*, [*]);
}

@utility overlay-backdrop {
  &::backdrop {
    @apply backdrop-blur-xs transition-[opacity,overlay,display] duration-350 ease-out;
    background-color: color-mix(in oklab, var(--color-black) 10%, transparent);
    opacity: 0;
    transition-behavior: allow-discrete;
  }

  &:where([open], :popover-open, :open)::backdrop {
    opacity: 1;
  }

  @starting-style {
    &:where([open], :popover-open, :open)::backdrop {
      opacity: 0;
    }
  }
}

@layer base {
  :root {
    interpolate-size: allow-keywords;
  }

  :is(h1, h2, h3, h4, h5, h6) {
    font-family: var(--font-host-grotesk), system-ui, sans-serif;
    font-weight: 600;
    text-wrap: balance;
  }

  h1 {
    font-size: var(--text-5xl);
    line-height: var(--tw-leading, var(--text-5xl--line-height));
  }

  h2 {
    font-size: var(--text-4xl);
    line-height: var(--tw-leading, var(--text-4xl--line-height));
  }

  h3 {
    font-size: var(--text-3xl);
    line-height: var(--tw-leading, var(--text-3xl--line-height));
  }

  h4 {
    font-size: var(--text-2xl);
    line-height: var(--tw-leading, var(--text-2xl--line-height));
  }

  h5 {
    font-size: var(--text-xl);
    line-height: var(--tw-leading, var(--text-xl--line-height));
  }

  h6 {
    font-size: var(--text-lg);
    line-height: var(--tw-leading, var(--text-lg--line-height));
  }

  :is(button, a) {
    cursor: pointer;
  }


  dialog {
    @apply overlay-backdrop opacity-0 transition-discrete duration-350 ease-out;
  }

  dialog[open] {
    @apply scale-100 opacity-100;
  }

  @starting-style {
    dialog[open] {
      @apply scale-100 opacity-0;
    }
  }
}

@layer components {
  .markdown-body {
    & > :is(h1, h2, h3, h4, h5, h6) {
      @apply mt-8;
    }

    & :not(pre) > code {
      @apply rounded-sm bg-neutral-950 px-1 py-0.5 font-mono text-sm font-medium text-neutral-50 dark:bg-neutral-50 dark:text-neutral-950;
    }

    & pre > code {
      @apply font-sans font-normal;
    }
  }

  #search-results mark {
    @apply bg-transparent font-normal text-primary underline;
  }

  .dark .astro-code,
  .dark .astro-code span {
    color: var(--shiki-dark) !important;
    text-decoration: var(--shiki-dark-text-decoration) !important;
  }
}
