@import 'tailwindcss';

@theme {
  --color-iron-slate: #a1a1a1;
  --color-halo-pale: #f4f0ff;
  --color-shadow-tint: #020202;
  --color-subtle-gray: #e5e5e5;
  --color-iridescent-glow: #bbdef2;
  --color-spectrum-flare: #d1aad7;
  --color-vivid-crimson: #ff6467;
  --color-goldenrod: #ffd600;
  --color-emerald-green: #72ce7b;

  --color-dark-rainbow-gradient: linear-gradient(
    to right bottom in oklab,
    rgb(154, 154, 154) 0%,
    rgb(26, 26, 26) 50%,
    rgb(106, 106, 106) 100%
  );

  --shadow-subtle: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset;
}

@theme inline {
  --font-sans: var(--font-host-grotesk), system-ui, sans-serif;
  --font-mono: var(--font-inter), Montserrat, sans-serif;
}

@utility bg-glass {
  @apply bg-[#141414]/80 backdrop-blur-md;
}

@layer base {
  :root {
    interpolate-size: allow-keywords;
  }

  :is(*, *::before, *::after) {
    @apply scrollbar-thin;
  }

  html {
    @apply scroll-pt-18.75 scrollbar-thumb-neutral-500 scrollbar-track-transparent scroll-smooth;
  }

  :is(h1, h2, h3, h4, h5, h6) {
    @apply font-sans font-semibold text-balance;
  }

  h1 {
    @apply text-5xl;
  }

  h2 {
    @apply text-4xl;
  }

  h3 {
    @apply text-3xl;
  }

  h4 {
    @apply text-2xl;
  }

  h5 {
    @apply text-xl;
  }

  h6 {
    @apply text-lg;
  }

  code {
    @apply font-sans;
  }

  :is(button, a) {
    @apply cursor-pointer;
  }

  dialog {
    @apply fixed z-999 transition-discrete duration-500 ease-in-out;
    inset: unset;
  }

  dialog::backdrop {
    @apply bg-black/0 backdrop-blur-[0px] transition-[background-color,backdrop-blur] duration-500 ease-in-out;
  }

  dialog[open]::backdrop {
    @apply bg-black/10 backdrop-blur-xs starting:bg-black/0 starting:backdrop-blur-[0px];
  }
}

@layer components {
  .btn-primary {
    @apply border-orange-500 bg-orange-500 text-neutral-50;
  }

  .btn-secondary {
    @apply border-neutral-50 bg-neutral-50 text-neutral-950;
  }

  .markdown-body {
    & > :is(h1, h2, h3, h4, h5, h6) {
      @apply mt-8;
    }

    & :not(pre) > code {
      @apply rounded-sm bg-neutral-800 px-1 py-0.5 font-mono text-sm font-medium text-neutral-200;
    }
  }

  #search-results mark {
    @apply bg-transparent font-semibold text-neutral-50;
  }

  [data-toc-link][aria-current='true'] {
    @apply text-vivid-crimson;

    &::before {
      @apply absolute top-0 left-0 h-full w-0.5 rounded-sm bg-vivid-crimson content-[''];
    }
  }
}
