@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-primary-50: var(--color-rose-50);
  --color-primary-100: var(--color-rose-100);
  --color-primary-200: var(--color-rose-200);
  --color-primary-300: var(--color-rose-300);
  --color-primary-400: var(--color-rose-400);
  --color-primary-500: var(--color-rose-500);
  --color-primary-600: var(--color-rose-600);
  --color-primary-700: var(--color-rose-700);
  --color-primary-800: var(--color-rose-800);
  --color-primary-900: var(--color-rose-900);
  --color-primary-950: var(--color-rose-950);

  --color-primary: light-dark(var(--color-primary-600), var(--color-primary-400));

  --color-background: light-dark(var(--color-neutral-50), var(--color-neutral-950));
  --color-surface: light-dark(var(--color-neutral-100), var(--color-neutral-900));
  --color-foreground: light-dark(var(--color-neutral-950), var(--color-neutral-50));
  --color-line: light-dark(var(--color-neutral-200), var(--color-neutral-800));

  --max-width: 1856px;

  --tw-position-area-top: top;
  --tw-position-area-bottom: bottom;
  --tw-position-area-left: left;
  --tw-position-area-right: right;
}

@theme inline {
  --font-sans: var(--font-host-grotesk), system-ui, sans-serif;
  --font-mono: var(--font-inter), Montserrat, sans-serif;
}

@utility position-area-* {
  position-area: --value(--tw-position-area-*, [*]);
}

@layer base {
  :root {
    interpolate-size: allow-keywords;
    color-scheme: light;
  }

  :root.dark {
    color-scheme: dark;
  }

  :is(*, *::before, *::after) {
    @apply scrollbar-thin;
  }

  html {
    @apply scroll-pt-12 scrollbar-thumb-neutral-500 scrollbar-track-transparent scroll-smooth;
  }

  :is(h1, h2, h3, h4, h5, h6) {
    @apply font-sans font-semibold text-balance;
  }

  h1 {
    @apply text-5xl;
  }

  h2 {
    @apply text-4xl;
  }

  h3 {
    @apply text-3xl;
  }

  h4 {
    @apply text-2xl;
  }

  h5 {
    @apply text-xl;
  }

  h6 {
    @apply text-lg;
  }

  :is(button, a) {
    @apply cursor-pointer;
  }

  dialog {
    @apply opacity-0 transition-discrete duration-350 ease-out;
  }

  dialog[open] {
    @apply scale-100 opacity-100;
  }

  dialog::backdrop {
    @apply bg-black/10 opacity-0 backdrop-blur-xs transition-[opacity,overlay,display] transition-discrete duration-350 ease-out;
  }

  dialog[open]::backdrop {
    @apply opacity-100;
  }

  @starting-style {
    dialog[open] {
      @apply scale-100 opacity-0;
    }

    dialog[open]::backdrop {
      @apply opacity-0;
    }
  }
}

@layer components {
  .markdown-body {
    & > :is(h1, h2, h3, h4, h5, h6) {
      @apply mt-8;
    }

    & :not(pre) > code {
      @apply rounded-sm bg-neutral-950 px-1 py-0.5 font-mono text-sm font-medium text-neutral-50 dark:bg-neutral-50 dark:text-neutral-950;
    }

    & pre > code {
      @apply font-sans font-normal;
    }
  }

  #search-results mark {
    @apply bg-transparent font-normal text-primary underline;
  }

  .dark .astro-code,
  .dark .astro-code span {
    color: var(--shiki-dark) !important;
    text-decoration: var(--shiki-dark-text-decoration) !important;
  }
}
