@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

@theme inline {
  --color-primary-50: var(--color-rose-50);
  --color-primary-100: var(--color-rose-100);
  --color-primary-200: var(--color-rose-200);
  --color-primary-300: var(--color-rose-300);
  --color-primary-400: var(--color-rose-400);
  --color-primary-500: var(--color-rose-500);
  --color-primary-600: var(--color-rose-600);
  --color-primary-700: var(--color-rose-700);
  --color-primary-800: var(--color-rose-800);
  --color-primary-900: var(--color-rose-900);
  --color-primary-950: var(--color-rose-950);

  --color-primary: light-dark(var(--color-primary-600), var(--color-primary-400));

  --color-background: light-dark(var(--color-neutral-50), var(--color-neutral-950));
  --color-surface: light-dark(var(--color-neutral-100), var(--color-neutral-900));
  --color-foreground: light-dark(var(--color-neutral-950), var(--color-neutral-50));
  --color-line: light-dark(var(--color-neutral-200), var(--color-neutral-800));

  --font-sans: var(--font-host-grotesk), system-ui, sans-serif;
  --font-mono: var(--font-inter), Montserrat, sans-serif;

  --position-area-top: top;
  --position-area-bottom: bottom;
  --position-area-left: left;
  --position-area-right: right;

  --max-width: 1856px;
}

@utility layout-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, auto) 1fr;
  grid-template-areas:
    'sidebar'
    'toc'
    'main';

  @variant lg {
    grid-template-columns: 300px 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas:
      'sidebar toc'
      'sidebar main';
  }

  @variant xl {
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 'sidebar main toc';
    gap: 16px;
  }
}

@utility area-sidebar {
  grid-area: sidebar;
}

@utility area-main {
  grid-area: main;
}

@utility area-toc {
  grid-area: toc;
}

@utility position-area-* {
  position-area: --value(--position-area-*, [*]);
}

@utility overlay-backdrop {
  &::backdrop {
    backdrop-filter: blur(var(--blur-xs));
    transition:
      opacity 350ms var(--ease-in-out),
      overlay 350ms var(--ease-in-out),
      display 350ms var(--ease-in-out);
    background-color: color-mix(in oklab, var(--color-black) 10%, transparent);
    opacity: 0;
    transition-behavior: allow-discrete;
  }

  &:where([open], :popover-open, :open)::backdrop {
    opacity: 1;
  }

  @starting-style {
    &:where([open], :popover-open, :open)::backdrop {
      opacity: 0;
    }
  }
}

@layer base {
  :root {
    interpolate-size: allow-keywords;
  }

  :is(h1, h2, h3, h4, h5, h6) {
    font-family: var(--font-sans);
    font-weight: var(--font-weight-semibold);
    text-wrap: balance;
  }

  h1 {
    font-size: var(--text-5xl);
    line-height: var(--text-5xl--line-height);
  }

  h2 {
    font-size: var(--text-4xl);
    line-height: var(--text-4xl--line-height);
  }

  h3 {
    font-size: var(--text-3xl);
    line-height: var(--text-3xl--line-height);
  }

  h4 {
    font-size: var(--text-2xl);
    line-height: var(--text-2xl--line-height);
  }

  h5 {
    font-size: var(--text-xl);
    line-height: var(--text-xl--line-height);
  }

  h6 {
    font-size: var(--text-lg);
    line-height: var(--text-lg--line-height);
  }

  :is(button, a) {
    cursor: pointer;
  }

  dialog {
    @apply overlay-backdrop;
    opacity: 0;
    transition:
      opacity 350ms var(--ease-in-out),
      overlay 350ms var(--ease-in-out),
      display 350ms var(--ease-in-out);
    transition-behavior: allow-discrete;
  }

  dialog[open] {
    opacity: 1;
    transform: scale(1);
  }

  @starting-style {
    dialog[open] {
      opacity: 0;
      transform: scale(1);
    }
  }
}

@layer components {
  .markdown-body {
    & > :is(h1, h2, h3, h4, h5, h6) {
      margin-top: --spacing(8);
    }

    & :not(pre) > code {
      border-radius: var(--radius-sm);
      background-color: light-dark(var(--color-neutral-950), var(--color-neutral-50));
      padding-inline: --spacing(1);
      padding-block: --spacing(0.5);
      font-family: var(--font-mono);
      font-size: var(--text-sm);
      font-weight: var(--font-weight-medium);
      color: light-dark(var(--color-neutral-50), var(--color-neutral-950));
    }

    & pre > code {
      font-family: var(--font-sans);
      font-weight: var(--font-weight-normal);
    }
  }

  #search-results mark {
    background-color: transparent;
    font-weight: var(--font-weight-normal);
    color: var(--color-primary);
    text-decoration-line: underline;
  }

  .dark .astro-code,
  .dark .astro-code span {
    color: var(--shiki-dark) !important;
    text-decoration: var(--shiki-dark-text-decoration) !important;
  }
}
